.description-task-bars {
    border-color: var(--bluey);
    color: var(--bluey);
}

  
.content-task-bars {
    border-color: var(--bluey);
}

.task-bars-container {
    display: flex;
    flex-direction: column;
}
